html, body {
  margin: 0;
  padding: 50px 0 0 0;
  text-align: center;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Open Sans";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.progress-bar-list {
  
}